<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>onlineExamSystem</display-name>
  <servlet>
    <servlet-name>NewUserReg</servlet-name>
    <servlet-class>controller.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUserReg</servlet-name>
    <url-pattern>/regUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login-verify</servlet-name>
    <servlet-class>controller.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login-verify</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>adminVerify</servlet-name>
    <servlet-class>controller.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminVerify</servlet-name>
    <url-pattern>/adminVerify</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Code-verify</servlet-name>
    <servlet-class>controller.PaperCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code-verify</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LinkQP</servlet-name>
    <servlet-class>controller.QuestionPlink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkQP</servlet-name>
    <url-pattern>/request-page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testSubmit</servlet-name>
    <servlet-class>controller.TestSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testSubmit</servlet-name>
    <url-pattern>/testSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertQset</servlet-name>
    <servlet-class>controller.QSetInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertQset</servlet-name>
    <url-pattern>/insertQset</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>regUser.jsp</welcome-file>
  </welcome-file-list>
</web-app>